body{background-color:#3efaf7;text-aling:justify;}
h1{text-align:center;background-color:#2fbdba;color:#17313b;}
h3{text-align:justify;color:#1f7479;;}
b{color:blue;font-size:18px;}
i{color:blue;font-size:18px;}
header,footer{background-color:#499cba;color:#17313b;}
main{background-color:#8ddefc;}