  body{background-color:#00FA94;text-align:justify;}
  h1{text-align:center;background-color:#FF1493;color:#000000;}
  h3{text-align:justify;color:#FFFF00;;}
  b{color:deep pink;font-size:18px;}
i{color:violet;font-size:18px;}
header,footer{background-color:#20B2AA;color:#000000;}
main{background-color:#153986;}
  PRIMEIROPARAGRAFO{text-align:justify;font-size:18px;border:beack solid 2px;padding:10px;margin:10px}
  SEGUNDOPARAGRAFO{text-align:justify;font-size:18px:border:black solid 2px;padding:10px;margin:10px}